<launch>
  <arg name="scan_topic"  default="/scan" />
  <arg name="base_frame"  default="link_chassis"/>
  <arg name="odom_frame"  default="odom"/>
  <arg name="model"  default="002_skidy_compact.xacro"/>
  <arg name="map_file"  default="$(find skidy_navigation)/maps/simple_world2.yaml"/>
  <arg name="rvizconfig" default="$(find skidy_description)/rviz/skidy_in_rviz.rviz" />
  <arg name="world"  default="simple_world2.world"/>

  <include file="$(find skidy_description)/launch/001_skidy_in_rviz.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="rvizconfig" value="$(arg rvizconfig)"/>
  </include>

  <include file="$(find skidy_description)/launch/003_skidy_in_gazebo.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="world" value="$(arg world)"/>
  </include>

  <node type="map_server" pkg="map_server" name="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
  </node>

   <master auto="start"/>
   <!--- Run AMCL -->
    <!-- <include file="$(find amcl)/examples/amcl_diff.launch" /> -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <param name="odom_frame_id" value="$(arg odom_frame)"/>
        <param name="odom_model_type" value="diff-corrected"/>
        <param name="base_frame_id" value="$(arg base_frame)"/>
        <param name="update_min_d" value="0.1"/>
        <param name="update_min_a" value="0.2"/>
        <param name="min_particles" value="500"/>
        <param name="global_frame_id" value="map"/>
        <param name="tf_broadcast" value="true" />
        <param name="initial_pose_x" value="0.0"/>
        <param name="initial_pose_y" value="0.0"/>
        <param name="initial_pose_a" value="0.0"/>
    </node>

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
       <rosparam file="$(find skidy_navigation)/config/skidy_costmap_common_params.yaml" command="load" ns="global_costmap" />
       <rosparam file="$(find skidy_navigation)/config/skidy_costmap_common_params.yaml" command="load" ns="local_costmap" />
       <rosparam file="$(find skidy_navigation)/config/skidy_local_costmap_params.yaml" command="load" />
       <rosparam file="$(find skidy_navigation)/config/skidy_global_costmap_params.yaml" command="load" />
       <rosparam file="$(find skidy_navigation)/config/skidy_base_local_planner_params.yaml" command="load" />
   </node>

</launch>
