<?xml version="1.0"?>
<launch>
  <arg name="model" default="001_skidy_full.xacro" />
  <arg name="rvizconfig" default="$(find ros_nav)/rviz/001_skidy_in_rviz.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find skidy_description)/urdf/$(arg model)'" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" />

</launch>
